<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Home</title>
</head>
<body>
    <header></header>
    <nav>
        <p style="font-size: large">X</p>
        <ul class="nav-items">  
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Home</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Explore</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Notifications</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Messages</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Lists</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Communities</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Verified</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>Profile</p>
            </li>
            <li class="nav-item">
                <p><span><img src="" alt=""></span>more</p>
            </li>
            <li class="nav-item">
                <button type="submit">Post</button>
            </li>
        </ul> 

        <a href="profile" class="profile">
            <img src="" alt="">
            <div class="names">
                <p class="name">VirtualPrey</p>
                <p class="username">virtualPrey</p> 
            </div>
            <p class="more">...</p>
        </a>
            
        
    </nav>
    <section>
        <div class="hero">
            <div class="home">
                <p>Home</p>
                <ul class="options">
                    <li class="option">For you</li>
                    <li class="option">Following</li>
                    <li class="option">kenyan</li>
                </ul>
            </div>
            <div class="happening">
                <p>what is happening?!</p>
            </div>
            <div class="content-area">
            <ul class="tweets">
                <li class="tweet">tweet 1</li>
            </ul></div>
        </div>
    </section>
    <aside class="Trending">
        <div class="search">search</div>
        <div class="verified">Get verified</div>
        <div class="trending">
            Trends for you
        <ul class="trends">
            <li class="trend"> trend</li>
        </ul>
        </div>
        <div class="Follow">
            who to follow
            <ul class="suggestions">
                <li class="suggestion">
                    suggestion 1
                </li>
            </ul>
        </div>
        <footer>
            <p class="more">Terms and conditions</p>
            <p class="more">Privacy Policy</p>
            <p class="more">Cookie Policy</p>
            <p class="more">Accessability</p>
            <p class="more">Ads info</p>
            <p class="more">more...</p>
            <p class="more">&copy; X Corp.</p>
        </footer>
    </aside>  
</body>
</html>