:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #383534;
    --highlight-color: #3094d6;
    --small: 0.825rem;
    --medium: 1rem;
    --large: 1.4rem;
    --x-large: 1.6rem;
    --light-font-weight:400;
    --bold-font-weight: 800;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: 700;
    border: none;
}
body{
    display: flex;
    width: 100dvw;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    /* justify-content: space-evenly; */
}

/* navigation */
nav{
    width: 22%;
    margin: auto;
    height: 100dvh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    font-size: var(--large);
    
    /* align-items: center; */
    /* align-content: spa; */
}
.nav-items{
    width: 80%;
    margin-left: auto;
    
}
.nav-item{
    padding-bottom: 1.8rem;
    flex: 1;
    
}
.nav-item p{
    font-weight: var(--light-font-weight);
}
.nav-item button{
    height: 3rem;
    width: 70%;
    border-radius: 1.7rem;
    color: var(--secondary-color);
    font-size: var(--medium);
    font-weight: var(--bold-font-weight);
    background-color: var(--highlight-color);
}
.profile{
    display: flex;
    justify-content: space-evenly;
    /* align-items: end; */
}
.name{
    color: var(--secondary-color);
}
.username{
    color: var(--accent-color);
    font-size: var(--small);
}
.more{
    color: var(--secondary-color);
    font-weight: var(--x-large);
}
/* Main section */
section{
    width: 45%;
    border: 1px solid #fff;
}
.home{
    border: 1px solid #fff;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    color: var(--accent-color);
    font-weight: var(--light-font-weight);
    font-size: var(--small);
}
.happening{
    color: var(--accent-color);
    font-weight: var(--light-font-weight);
    font-size: var(--small);
    height: 10rem;
    border: 1px solid #fff;
}
/* aside Section */
aside{
    width: 33%;
    border: 1px solid #fff;
}